*{
    margin: 0;
    padding: 0;
}
footer {
    text-align: center;
    font-size: 18px;
    /* color:#fc5050; */
    padding: 0.4em;
    /* background: #fc5050; */
    background: #272727;
    height: 100px;
    
}
footer a{
    color: #747474;
}
footer a:hover{
    color: bisque;
}
i{
    color:red;
}
.text{
    color:white;
}